/* Main Hero Section */
.hero-section {
  background: radial-gradient(70.11% 70.11% at 50% 50%, rgb(134, 255, 109) 0%, rgb(103, 212, 81) 32.99%, rgb(88, 191, 67) 60.59%), rgb(88, 191, 67);
  background-size: 100% 100%;
  animation: gradientRotate 0.5s ease infinite;
  margin: 4% 8%;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  gap: 20px;
  overflow: hidden;
}

@keyframes gradientRotate {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.left-content {
  flex: 1;
  color: white;
  padding: 20px;
}

.left-content h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.left-content h2 {
  font-size: 2rem;
  margin-top: 5px;
  color: #e8ffe3;
}

.left-content p {
  font-size: 1.1rem;
  margin: 15px 0;
  color: #f3fff1;
  line-height: 1.5;
}

/* CTA Button with Shiny Effect */
.cta-button {
  background: var(--black);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: inline-block;
}

.cta-button:hover {
  transform: scale(1.05);
}

/* Shiny Animation */
.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 46%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transform: skewX(-40deg);
  animation: shine 3.6s infinite linear;
}

@keyframes shine {
  from {
    left: -75%;
  }
  to {
    left: 175%;
  }
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content img {
  width: 90%;
  max-width: 400px;
}

/* Responsive Design for mobile */
@media (max-width: 767px) {
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
    height: auto;
    margin: 20px;
  }

  .home-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 16px;
    position: fixed;
    top: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.46);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .home-title span {
    font-size: 1.2rem;
  }

  .home-title img {
    height: 32px;
    margin-right: 10px;
  }

  .left-content h1 {
    font-size: 2rem;
  }

  .left-content h2 {
    font-size: 1.5rem;
  }

  .right-content img {
    width: 70%;
    max-width: 300px;
  }
}